name = "deckfs"
main = ".bin/cloudflare/worker.mjs"
compatibility_date = "2024-01-01"

# R2 Buckets
[[r2_buckets]]
binding = "DECKFS_INPUT"
bucket_name = "deckfs-input"

[[r2_buckets]]
binding = "DECKFS_OUTPUT"
bucket_name = "deckfs-output"

[[r2_buckets]]
binding = "DECKFS_WASM"
bucket_name = "deckfs-wasm"

# KV for status tracking
[[kv_namespaces]]
binding = "DECKFS_STATUS"
id = "5bd25ce7653d4f958ff114641c7d0dee"

# Queue for R2 events
[[queues.consumers]]
queue = "deckfs-events"
max_batch_size = 10
max_batch_timeout = 30

[vars]
NATS_PUBLISH_URL = ""

[dev]
port = 8787
